<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>首页 - Rainy的小站</title>
		<link rel="shortcut icon" href="static/favicon.ico" />
		<link rel="bookmark" href="static/favicon.ico" />
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="css/public.css" rel="stylesheet" type="text/css">
		<style>
			* {
            /*animation: rotation 6s linear 0s infinite;*/
        }
.container-fluid[v-cloak]{
	display: none;
}

        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    </style>
	</head>

	<body>
		<div class="container-fluid" v-cloak>
			<nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="/"><img src="img/img.png"
					 height="50px" alt="" style="border-radius: 50%"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
				 aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent1">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="/">首页 </a></li>
						<li class="nav-item" v-if="isLogin"><a class="nav-link" href="#">个人中心(暂时不可用) </a></li>
						<li class="nav-item" v-else><a class="nav-link" href="login">登录 </a></li>
					</ul>
				</div>
			</nav>
			<br>
			<div class="row width">
				<div class="col-lg-7 col-md-7 col-sm-10 left" style="line-height: 40px;">您的位置：<a href="javascript:void(0)" @click="getIndex()">首页</a>
					<span v-if="isClassify">
						<span v-if="!!index.data.classifies.pname">
							-><a href="javascript:void(0)" @click="changeClassify(index.data.classifies.pid)">{{index.data.classifies.pname}}</a>
						</span>
						-><a href="javascript:void(0)" @click="changeClassify(index.data.classifies.id)">{{index.data.classifies.name}}</a>
					</span>

					<span v-if="index.data.title != ''">
						->搜索结果：{{index.data.title}}
					</span>
					<span v-if="index.data.pageNo != 1">
						->第{{index.data.pageNo}}页
					</span>
					<img v-show="loading" src="img/load.gif" height="21px">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-10 offset-sm-1 right">
					<div class="form-group" id="searchForm" style="margin-bottom: 0px">
						<input id="searchInput" v-model="search" type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" @click="searchBtn()">Search</button>
						</span>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-7 col-md-10 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1 left">
					<span style="color: red;">本站施工中，预计完工时间：未知</span><br><br>
					<span v-if="index.data.article.total==0">暂无文章</span>
					<span v-else>{{index.data.article.total}}条相关结果<br><br></span>

					<div class="article-block notice article" v-for="art in index.data.article.rows" style="cursor: pointer" @click="openArticle(art.id)">{{art.title}}
						<span v-if="art.weight==999" style="font-size: 0.8em;color:red;">&nbsp;&nbsp;&nbsp;&nbsp;置顶</span>
						<br>
						<span style="font-size: 0.9em;color: gray;">{{art.time}}</span>
					</div>
					<span v-if="index.data.article.total!=0">
						当前第{{index.data.pageNo}}页，共{{index.data.totalPage}}页
						<span v-if="index.data.pageNo!=1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" @click="beforePage()">上一页</a></span>
						<span v-if="index.data.pageNo!=index.data.totalPage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)"
							 @click="nextPage()">下一页</a></span>
					</span>
				</div>
				<div class="col-lg-2 col-md-10 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1 right" style="padding: 0px;">
					<br>
					<div class="article-block" v-if="isLogin" style="background-color: #f8f9fa !important;border-radius: 10px;width: 100%;">
						<div style="text-align: center;margin: 30px;">
							<div v-bind:style="{backgroundImage:'url('+index.data.user.logo+')'}" style="margin: 0 auto;height: 70px;width: 70px;background-size: cover;background-repeat:no-repeat;border-radius: 50% 50%"></div>
						</div>
						<div style="text-align: center;margin-top: 20px;">欢迎您，{{index.data.user.name}}</div>
						<div style="text-align: center;margin-top: 20px;"><a href="/logout">注销</a></div>
					</div>
					<div class="article-block" style="background-color: #f8f9fa !important;border-radius: 10px;width: 100%;margin-top: 20px">
						<div class="infoCss" style="" v-for="classif in classify">
							<span style="font-size: 20px"><a href="javascript:void(0)" @click="changeClassify(classif.id)" style="color: black">
									{{classif.name}}</a></span><br>
							<a v-for="child in classif.children" href="javascript:void(0)" @click="changeClassify(child.id)" style="color: gray">{{child.name}}</a>
						</div>
						</#list>
					</div>
					<div class="article-block" style="background-color: #f8f9fa !important;border-radius: 10px;width: 100%;margin-top: 20px">
						<div class="infoCss" style="">
							<span style="font-size: 20px">
									友情链接</span><div style="height: 0.625rem"></div>
							<a v-for="fr in friendly" v-bind:href="fr.url" target="_blank" @click="changeClassify(child.id)" style="color: gray;padding-right: 0.9375rem;">{{fr.name}}</a>
						</div>
						</#list>
					</div>
				</div>
			</div>
			<br>
			<footer>
				<div class="row" style="background-color: #f8f9fa !important;height: 50px;: middle;">
					<div class="col-7 offset-1" style="position: relative;top: 15px"></div>
					<div class="col-3 offset-1" style="position: relative;top: 15px">Designed by Rainy</div>
				</div>
			</footer>
		</div>
		<div id="webInfo">
			<div style="text-align: center;">
				<br>
				<br>
				<br>
				<br>
				<br>
				Loading...
			</div>
		</div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.cookie.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js"></script>
		<script type="text/javascript">
		window.open("http://luoyuer.com","_self")
			var vue = new Vue({
				el: '.container-fluid',
				data: {
					index: {
						data: {
							title: '',
							article: {
								total: 0,
							},
							pageNo: 1
						}
					},
					classify: {},
					isLogin: false,
					isClassify: false,
					search: '',
					loading: false,
					friendly: {}
				},
				mounted: function() {
					this.getIndex();
					this.getClassify();
					this.getFriendly();
				},
				methods: {
					isBlank: function(item) {
						if (item == "" || item == null) {
							return true;
						} else {
							return false;
						}
					},
					getIndex: function(classifyID, title, page) {
						this.showLoad();
						this.moveTop();
						if (typeof classifyID == 'undefined') {
							classifyID = "";
						}
						if (typeof title == 'undefined') {
							title = "";
						}
						if (typeof page == 'undefined') {
							page = "";
						}
						var that = this;
						$.request.get({
							url: "/api/index/data?classifyID=" + classifyID + "&title=" + title + "&pageNo=" + page,
							success: function(res) {
								that.index = res;
								if (typeof that.index.data.user != 'undefined' && that.index.data.user != '' && that.index.data.user !=
									null) {
									that.isLogin = true;
								} else {
									that.isLogin = false;
								}
								if (typeof that.index.data.classifies != 'undefined' && that.index.data.classifies != '' && that.index.data
									.classifies != null) {
									that.isClassify = true;
								} else {
									that.isClassify = false;
								}
								document.getElementById("webInfo").innerHTML = "";
								that.hideLoad();
							}
						})
					},
					searchBtn: function() {
						this.getIndex(this.index.data.classifyID, this.search, undefined)
					},
					getClassify: function() {
						var that = this;
						$.request.get({
							url: '/api/classify/list',
							success: function(str) {
								that.classify = str.data;
							}
						})
					},
					nextPage: function() {
						this.getIndex(this.index.data.classifyID, this.search, this.index.data.pageNo + 1)
					},
					beforePage: function() {
						this.getIndex(this.index.data.classifyID, this.search, this.index.data.pageNo - 1)
					},
					changeClassify: function(classify) {
						this.getIndex(classify, undefined, undefined)
					},
					showLoad: function() {
						this.loading = true;
					},
					hideLoad: function() {
						this.loading = false;
					},
					moveTop: function() {
						$('html,body').animate({
							scrollTop: '0px'
						}, 500);
					},
					openArticle: function(id) {
						window.open("article#" + id)
					},
					getFriendly: function(){
						var that = this;
						$.request.get({
							url: '/api/index/friendly',
							success: function(str) {
								that.friendly = str.data;
							}
						})
					}
				}
			})
		</script>
	</body>
</html>
